<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />

    <bean:import resource="spring-hibernate.xml"/>

    <!--<bean id="ftpFile" class="com.issoft.ftp.model.FTPFile"/>-->
    <bean id="administrationForm" class="com.issoft.ftp.model.AdministrationForm"/>
    <bean id="userForm" class="com.issoft.ftp.model.UserForm"/>
    <bean id="service" class="com.issoft.services.AdministrationService"/>

    <bean id="notificationService" class="com.issoft.services.NotificationService"/>

    <bean id="inetAddress" class="java.net.Inet4Address" factory-method="getByName">
        <constructor-arg value="localhost"/>
    </bean>
    <bean id="ftpClientService" class="com.issoft.ftp.client.FtpClientService">
        <constructor-arg ref="inetAddress"/>
        <constructor-arg value="2121"/>
    </bean>

    <!-- Struts actions-->
    <bean id="ftpAction" class="com.issoft.ftp.presentation.action.FtpAction">
        <property name="ftpClientService" ref="ftpClientService"/>
    </bean>

    <bean id="administrationAction" class="com.issoft.ftp.presentation.action.AdministrationAction">
        <property name="administrationForm" ref="administrationForm"/>
        <property name="service">
            <bean id="administrationService" class="com.issoft.services.AdministrationService"/>
        </property>
    </bean>

    <bean id="userProfileAction" class="com.issoft.ftp.presentation.action.UserProfileAction">
    </bean>

    <!--Spring Quartz-->
    <bean name="runMeJob" class="org.springframework.scheduling.quartz.JobDetailBean">

        <property name="jobClass" value="com.issoft.log.mailer.QuartzMailJob"/>

        <property name="jobDataAsMap">
            <map>
                <entry key="runMeTask" value-ref="mailService"/>
            </map>
        </property>

    </bean>

    <bean id="mailService" class="com.issoft.log.mailer.MailService"/>

    <bean id="jsonTable" class="com.issoft.ftp.presentation.action.JsonTable">
        <property name="logEntryDAO" ref="myLogEntryDAO"/>
    </bean>

    <!--Cron Trigger, run every 20 minutes-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="runMeJob"/>
        <property name="cronExpression" value="0 0/20 * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="runMeJob"/>
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>
</beans>