<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="user" class="com.issoft.ftp.model.User"/>
    <bean id="ftpFile" class="com.issoft.ftp.model.FTPFile"/>
    <bean id="ftpClientService" class="com.issoft.ftp.client.FtpClientService"/>

    <bean id="ftpAction" class="com.issoft.ftp.presentation.action.FtpAction">
        <property name="user" ref="user"/>
        <property name="ftpFile" ref="ftpFile"/>
        <property name="ftpService" ref="ftpClientService"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/issoft"/>
        <property name="username" value="admin"/>
        <property name="password" value="admin"/>
    </bean>
</beans>