<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean:import resource="spring-database.xml"/>

    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.issoft.log.database.entity.LogEntry</value>
                <value>com.issoft.log.database.entity.UserEntity</value>
                <value>com.issoft.log.database.entity.EmailNotification</value>
                <value>com.issoft.entity.User</value>
                <value>com.issoft.entity.UserRole</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>
            </props>
        </property>
    </bean>

    <bean id="myLogEntryDAO" class="com.issoft.log.database.LogEntryDAOImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

    <bean id="dao" class="com.issoft.entity.UsersDAOImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

    <bean id="userDAO" class="com.issoft.log.database.UserEntityDAOImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

     <!--Aspect-->
    <bean id="customerAspect" class="com.issoft.log.LogMailAspect">
        <property name="logEntryDAO" ref="myLogEntryDAO"/>
    </bean>

    <bean id="mailService" class="com.issoft.log.mailer.MailService">
        <property name="userEntityDAO" ref="userDAO"/>
    </bean>

</beans>