<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr">

    <bean:import resource="spring-database.xml"/>

    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.issoft.entity.LogEntry</value>
                <value>com.issoft.entity.UserEntity</value>
                <value>com.issoft.entity.EmailNotification</value>
                <value>com.issoft.entity.UserRole</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>
            </props>
        </property>
    </bean>
    
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <constructor-arg ref="mySessionFactory"/>
    </bean>
    <bean id="myLogEntryDAO" class="com.issoft.entity.dao.LogEntryDAOImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="userDAO" class="com.issoft.entity.dao.UserEntityDAOImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="notificationDAO" class="com.issoft.entity.dao.EmailNotificationDAOImpl"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--Aspect-->
    <!--DWR configuration-->
    <dwr:configuration/>
    <dwr:controller id="dwrController" debug="true"/>

    <bean id="administrationNotificationBean"
          class="com.issoft.ftp.presentation.action.AdministrationNotificationAction">
        <dwr:remote javascript="AdministrationNotificationScript">
            <dwr:include method="sendNotifications"/>
            <dwr:include method="emptyListOfNotifications"/>
            <dwr:convert type="bean" class="com.issoft.ftp.model.AdministrationNotificationForm"/>
        </dwr:remote>
    </bean>
    <!--end DWR-->
    <bean id="customerAspect" class="com.issoft.log.LogMailAspect">
        <property name="logEntryDAO" ref="myLogEntryDAO"/>
        <property name="notificationAction" ref="administrationNotificationBean"/>
    </bean>

    <bean id="mailService" class="com.issoft.log.mailer.MailService">
        <property name="userEntityDAO" ref="userDAO"/>
    </bean>
    
    <!-- ANNOTATION MAGIC-->
    <bean id="storeAspect" class="com.issoft.log.annotation.StoreAspect"/>
    
    <bean id="customerServiceProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean">  
        <property name="target" ref="hibernateTemplate"/>
        <property name="interceptorNames">
            <list>
                <value>customerAdvisor</value>
            </list>
        </property>
    </bean>
    
    <bean id="hijackAroundStoreAdvice" class="com.issoft.log.annotation.StoreAspect" />
    
    <bean id="customerPointcut" 
          class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="saveOrUpdate" />
    </bean>
         
    <bean id="customerAdvisor" 
          class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="customerPointcut" />
        <property name="advice" ref="hijackAroundStoreAdvice" />
    </bean>
    
</beans>