/*Administration. Users table custom CSS*/

table {
    width: 100%;
    margin: 10px 0;
}

th, td {
    padding: 10px 5px !important;
    max-width: 100px;
    word-wrap: break-word;
}

table tr:nth-child(2n) {
    background: #f0f0f0;
}

.ui-widget-content {
     font-size: 11px;
}

.ui-tabs .ui-tabs-nav {
    height: 30px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    font-size: 12px;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    font-size: 12px;
}

/* End of Administration. Users table custom CSS*/

/* Administration table grid custom CSS */

.ui-widget .ui-widget {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-view {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-btable {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    width: 100% !important;
}


.ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 0 !important;
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-pager {
    width: 100% !important;
    overflow: visible !important;
}

.ui-jqgrid .ui-pg-input {
    height: 20px !important;
    width: 30px !important;
}

.ui-jqgrid .ui-jqgrid-pager {
    height: 60px !important;
}

.ui-jqgrid .ui-pg-selbox {
    height: 20px !important;
}

.ui-pg-table .ui-state-hover, .ui-pg-table .ui-state-focus {
    background: none !important;
    border: none !important;
}

/* End of Administration table grid custom CSS */